openai==0.28 
ruamel.yaml
diffusers>=0.31.0
accelerate>=1.0.1
transformers>=4.46.1
numpy==1.24.1
sentencepiece>=0.2.0
SwissArmyTransformer>=0.4.12
gradio>=5.4.0
imageio>=2.35.1
imageio-ffmpeg>=0.5.1
moviepy>=1.0.3
scikit-video>=1.1.11
h5py==3.10.0
Pillow==10.2.0
plyfile==1.0.3
PyMCubes==0.1.4
pymeshlab==2023.12.post1
taichi==1.5.0
opencv_python==4.8.1.78
opencv_python_headless==4.9.0.80
scipy==1.12.0
setuptools==68.0.0
tqdm==4.66.1
warp_lang==0.10.1
git+https://github.com/jukgei/diff-gaussian-rasterization.git@b1e1cb83e27923579983a9ed19640c6031112b94